.tamano-imagen{
    height: 600px;
    border-radius: 20px;
}
.img-centrar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.info-cards{
    margin: 20px 0;
}
.page-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--bs-light);
}